*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
 }

 nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
 }

 nav ul li {
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
 }

 nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
 }

 .paragraph{
    margin-left: 8%;
    margin-top: 15%;
 }

 .paragraph h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
 }

 #color{
    color: purple;
 }

 .page1{
    width: 30%;
    height: 56%;
    position:absolute;
    right: 100px;
 }

 .project{
    height: 10px;
    width: fit-content;
 }

 .container{
    display:  flex ;
    padding: 79px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: wrap;
    align-items: center;
    justify-content: baseline;
 }

 .container{
    margin-bottom: 100px;
    margin-top: 100px;
    margin-inline-start: auto;

 }

 .heading1{
    margin-bottom: 90px;
   
 }
 .title {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   margin-right: 50%;
}
 h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
 }
  z
 
   

p{
   font-size: large;
  text-align: center;
}

footer{
   display: block;
   text-align: center;
   margin-top: 30vh;
  
}
.black{
   justify-content: center;
   margin-right: 20%z;
   margin-left: 30%;
   align-items: initial;
}

@media only screen and (max-width: 768px) {

   
  
      .black{
      display:flex; 
        float: none;
        width: 90%;
        color: rgb(255, 255, 255);
        justify-content:initial;
        margin-bottom: 40%;
    }
  
}